*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: black;
    color: white;
}
#navbar-2{
    display: flex;
}
.img img{
    width: 107px;
    height: 38px;
    margin: 16px;
    margin-left: 147px;
}
.banner img{
    width: 100%;
    height: 658px;
}
.banner-box{
    background-color: white;
    position: absolute;
    top: 268px;
    left: 150px;
    height: 319px;
    width: 415px;
    border-radius: 6px;
}
.input input{
    border: none;
    background-color: rgb(228 224 224);
    margin-left: 35px;
    text-align: left;
    padding: 12px 73px;
}
.third select{
    background-color: rgb(228 224 224);
    border: none;
    margin-left: 35px;
    padding: 11px 95px;
    cursor: pointer;
}
.banner-box button{ 
    width: 394px;
    height: 42px;
    background-color: rgb(227, 227, 18); 
    color: black;
    border: none;
    border-radius: 6px;
    margin: 2px 10px;
    cursor: pointer;
    font-size: 18px;
}
.banner-box-2{
    background-color: white;
    position: absolute;
    height: 108px;
    width: 80vw;
    top: 710px;
    left: 150px;
    box-shadow: 2px 2px 6px grey;
    display: flex;
    

}
.container-2{
    display: flex;
}
.first-con{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 430px;
   box-shadow: 2px 2px 4px grey;
    margin-left: 148px;
    margin-top: 59px;
    border-radius: 10px;
    cursor: pointer;
}
.second-con{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 430px;
   box-shadow: 2px 2px 4px grey;
    margin-left: 50px;
    margin-top: 59px;
    border-radius: 10px;
    cursor: pointer;
}
.third-con{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 430px;
   box-shadow: 2px 2px 4px grey;
    margin-left: 50px;
    margin-top: 59px;
    border-radius: 10px;
    cursor: pointer;
    
}
.container-3-first{
    display: flex;
  
}
.container-3-second{
    display: flex;
    margin-top: 43px;
  
}
.container-3-third{
    display: flex;
    margin-top: 43px;
  
}
.contant p{
    margin-right: 98px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 8px;
}
.contant h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.contant h3:hover{
    color: rgb(104, 196, 35);
    cursor: pointer;
}
.heading-contant {
    margin:6px 92px ;
    text-align: center;
    justify-content: center;

}
.heading-contant p{
    font-family: 'Source Sans Pro', sans-serif;
}
.left{
    width: 50%;
    margin-left: 127px;
    margin-top: 122px;
}
.right{
    width:50%;
}
.images{
    display: flex;
    margin-top: 62px;
}
.images img{
    height: 48px;
    width: 167px;
    margin: 12px 12px;
}
.last-banner{
    display: flex;
    margin-top: 30px;
}
.right img{
    height: 350px;
    width: 61%;
}
.banner-heading{
    position: absolute;
    top: 149px;
    left: 25%;
    text-align: center;
    color: white;
}
.banner-heading h2{
 font-size: 43px;
 font-family: "Source Sans Pro", sans-serif;
}
.banner-heading p{
    font-size: 21px;
    font-family: 'Source Sans Pro', sans-serif;

}
.last-banner-2{
    background-color: #393939;
    color: #fff;
    height:736px;
    width: 100%;
    margin-top: 25px;
}
.container-banner{
    display: flex;
    margin-left: 95px;
    margin-top: 45px;
    margin-bottom: 40px;
}
.social{
    display: flex;
    margin-left: 95px;
    margin-top: 45px;
    margin-bottom: 40px;
    
}
.social-images{
    margin-left: 111px;
}
.social-images img{
    height: 42px;
    width: 45px;
    margin-left: 80px;
}  
.discover{
    display: flex;
    margin-left: 2px;
    margin-top: 27px;
    margin-bottom: 40px;
    
}
.language{
    margin-left: 442px;
}
.language h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-bottom: 12px;
}
.language select{
padding: 3px 40px;
background-color: #393939;
color: #fff;
border: 2px solid #fff;
}

